<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>FATEC</h1>
    <hr />
    <div>
        @RenderBody()
    </div>
    <hr />
    Todos os direitos reservados
</body>
</html>
