@model WebApp.Models.Produtos.EditarViewModel

<h2>Editar Produto</h2>

@*@if (!string.IsNullOrEmpty(Model.Mensagem))
{
    <p>Salvo com sucesso</p>
}*@

<form asp-action="Editar" >
    <p>
        <label asp-for="Id"></label>
        <input asp-for="Id" readonly />
    </p>
    <p>
        <label asp-for="Nome"></label>
        <input asp-for="Nome" />
    </p>
    <p>
        <label asp-for="Descricao"></label>
        <input asp-for="Descricao" />
    </p>
    <p>
        <label asp-for="Valor"></label>
        <input asp-for="Valor" />
    </p>
    <p>
        <label asp-for="Quantidade"></label>
        <input asp-for="Quantidade" />
    </p>
    <p>
        <button type="submit">Salvar</button>
        <a asp-action="Index">Voltar</a>
    </p>
</form>